$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "fonts.css";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Gotham Book", Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3,h2 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
        text-align: center;
    }
    h2 {
        display: inline-block;
    }
    .text-muted {
        text-align: center;
        color: #999999;
        text-shadow: 2px 2px rgba(237, 236, 236, 0.5);        
    }
    .glyphicon {
        color: #d0d0d0;
        font-size: 25px;
    }
    .headerContainer {
        width: 700px;
        margin: 0 auto;    
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    .landingHome {
        .panel {
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid rgba(242, 242, 242, 0.41);
            border-radius: 4px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.27);
            .panel-heading {
                color: white;
                background-color: rgba(4, 136, 229, 1);
                border-color: #ddd;
                text-shadow: 2px 2px #434343;                
            }
            .panel-body {
                ul li:first-child {
                    font-weight: bold;
                    font-family: "Gotham Bold", Arial, Helvetica, sans-serif;
                    padding-bottom: 5px;
                }                  
            }            
            .glyphicon {
                float: left;
                padding-right: 10px;
            }          
        }
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* Responsive: High resolution screens */
@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
