// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "base.scss";
// endbower
@media print {
    body {
        background-color: gray !important;
        font-size: 100%;
    }
    .mobilev {
        display: none;
    }
    .col-md-6 {
        width: 49%;
        display: inline-block;
    }
}